       @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* comportamiento del scrool del mouse, lo que selecciono me lo busca en la pagina web */
    
     :root {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    .contenedor {
        width: 90%;
        max-width: 1200px;
        /* todo lo que salga del contenedor se oculte */
        overflow: hidden;
        /* para centrar todo */
        margin: auto;
        /* para que haya espaciado entre los elementos  */
        padding: 60px 0;
    }
    
    header {
        /* para que ocupe el 100% de la pantalla */
        height: 100vh;
        /* colocarle color, le pone una url para superponer el color a la imagen */
        background-image: linear-gradient(120deg, rgba(132, 250, 175, 0.479) 0%, rgba(143, 210, 244, 0.425) 100%), url(../assets/6.jpg);
        /* no repite la imagen */
        background-repeat: no-repeat;
        /* escala la imagen al mayor tamaño sin estirarls (cover), backgroun - size especifica el tamaño de la imagen */
        background-size: cover;
        /* determina si la imagen de fondo estará fija dentro del contenedor o se dezplasara, (fixed= la imagen de fondo estará fija en la pantalla) */
        background-attachment: fixed;
        /* define la posición de la imagen especificada y la centra */
        background-position: center;
    }
    /* texto principal */
    
    .head {
        padding: 0;
        height: 100%;
        /* para posicionar verticalmente */
        display: flex;
        /* posicionar horizontalmente al centro */
        justify-content: center;
        align-items: center;
        /* posiciona lo que esta al aldo, abajo. */
        flex-direction: column;
        /* color del elemento */
        color: rgb(75, 71, 71);
    }
    
    .menu-navegacion {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 10%;
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        display: flex;
        /* define como se distribuye los elementos */
        justify-content: space-evenly;
        /* indica la alineación de un elemento dentro de un bloque */
        align-items: center;
        /* permite definir la transición entre 2 estados de un elemento */
        /* transition: transform .3s ease-in-out; */
        /* permite modificar el espacio de coordenadas de un elemento (trasladar, rotar, escalar)*/
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    .miniu {
        display: inline-block;
        padding: 10px 40px;
        margin-left: 20px;
        border: 1px solid rgb(46, 44, 44);
        border-radius: 30px;
        text-align: center;
        color: rgb(61, 59, 59);
        text-decoration: none;
    }
    
    .miniu:hover {
        background: rgb(3, 236, 81);
        color: #f8f8f8;
    }
    
    .titulo {
        font-size: 60px;
        margin-bottom: 15px;
    }
    
    .intro {
        font-weight: 1000;
        font-size: 25px;
    }
    /* Equipo de trabajo */
    
    .subtitulo {
        text-align: center;
        font-weight: 700;
        color: rgb(27, 192, 5);
        margin-bottom: 40px;
        font-size: 40px;
    }
    
    .contenedor-servicio {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .contenedor-servicio img {
        width: 40%;
    }
    
    .list-servicio {
        width: 45%;
    }
    
    .service {
        margin-bottom: 20px;
    }
    
    .n-service {
        margin-bottom: 7px;
        color: rgb(59, 58, 57);
    }
    
    .number {
        display: inline-block;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        width: 30px;
        height: 30px;
        color: rgb(68, 68, 67);
        text-align: center;
        border-radius: 50%;
        font-weight: 800;
        line-height: 30px;
        margin-right: 8px;
    }
    /* galeria */
    
    .gallery {
        background: #333534;
    }
    
    .contenedor-galeria {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .img-galeria {
        width: 45%;
        display: block;
        margin-bottom: 15px;
        box-shadow: 0 0 6px rgb(241, 241, 241);
        cursor: pointer;
    }
    
    .imagen-ligth {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(100%);
        transition: transform .2s ease-in-out;
    }
    
    .agregar-imagen {
        width: 60%;
        border-radius: 10px;
        transform: scale(0);
        transition: transform .3s .2s;
    }
    
    .team {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .cont-team {
        width: 30%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .cont-team img {
        width: 80%;
        display: block;
        margin: auto;
    }
    
    .footer {
        background: #303131;
        padding-bottom: 0.1px;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    .contact-us {
        width: 40%;
        color: #333534;
    }
    
    .brand {
        font-weight: 500;
        font-size: 40px;
    }
    
    .brand+p {
        font-weight: 500;
    }
    
    .social-media {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    
    .social-media-icon {
        display: inline-block;
        margin-left: 20px;
        width: 60px;
        height: 60px;
        border: 1px solid rgb(46, 44, 44);
        border-radius: 50%;
        text-align: center;
        color: rgb(61, 59, 59);
    }
    
    .social-media-icon:hover {
        background: rgb(3, 236, 81);
        color: #f8f8f8;
    }
    
    .social-media-icon i {
        font-size: 30px;
        line-height: 60px;
    }
    
    @media screen and (max-width:800px) {
        .miniu {
            font-size: 10px;
            display: inline-block;
            padding: 10px 10px;
            margin-left: 5px;
            border: 1px solid rgb(46, 44, 44);
            border-radius: 30px;
            text-align: center;
            color: rgb(61, 59, 59);
            text-decoration: none;
        }
        .titulo {
            font-size: 40px;
        }
        .intro {
            font-size: 20px;
            text-align: center;
        }
        .contenedor-servicio {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
        .contenedor-servicio img {
            width: 80%;
            margin-bottom: 40px;
        }
        .list-servicio {
            width: 80%;
        }
        .service {
            margin-bottom: 30px;
        }
        .footer-content {
            justify-content: center;
        }
        .social-media {
            width: 80%;
            justify-content: space-evenly;
        }
        .social-media i {
            margin-left: 0;
        }
        .contact-us {
            text-align: center;
            width: 80%;
            margin-bottom: 40px;
        }
    }
    
    @media screen and (max-width:500px) {
        .miniu {
            font-size: 10px;
            display: inline-block;
            padding: 5px 5px;
            margin-left: 1px;
            margin-right: 1px;
            border: 1px solid rgb(46, 44, 44);
            border-radius: 30px;
            text-align: center;
            color: rgb(61, 59, 59);
            text-decoration: none;
        }
        .titulo {
            font-size: 25px;
        }
        .intro {
            font-size: 15px;
            text-align: center;
        }
        .subtitulo {
            font-size: 25px;
        }
        .contenedor-servicio {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
        .contenedor-servicio img {
            width: 80%;
            margin-bottom: 40px;
        }
        .list-servicio {
            width: 90%;
        }
        .service {
            margin-bottom: 30px;
        }
        .team {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .cont-team {
            width: 70%;
            text-align: center;
            margin-bottom: 30px;
        }
        .cont-team img {
            width: 80%;
            display: block;
            margin: auto;
            flex-direction: column;
        }
        .footer-content {
            justify-content: center;
        }
        .social-media {
            width: 90%;
            justify-content: space-evenly;
        }
        .social-media i {
            margin-left: 0;
        }
        .contact-us {
            text-align: center;
            width: 80%;
            margin-bottom: 40px;
        }
    }
